<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605601028430-3he182dhgif1plcvjkm9g3o4tsu2dmf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605601028430-3he182dhgif1plcvjkm9g3o4tsu2dmf9</string>
	<key>API_KEY</key>
	<string>AIzaSyArNdCfQl_BCIIel-fF5IWeSHjjkEt6Ais</string>
	<key>GCM_SENDER_ID</key>
	<string>605601028430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aurora</string>
	<key>PROJECT_ID</key>
	<string>aurora-sc</string>
	<key>STORAGE_BUCKET</key>
	<string>aurora-sc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605601028430:ios:b8b9b5cf0edd54538ca61f</string>
</dict>
</plist>